################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestWebApplication/.vs/TestWebApplication/v16/Server/sqlite3
